$c-green: #47DF9A

body
  background: #F0EFEA
  font-family: 'Poppins', sans-serif

.position
  position: absolute
  margin: auto
  top: 0
  right: 0
  left: 0
  width: 28%
  min-width: 500px
  min-height: 300px
  margin-bottom: 100px
  margin-top: 50px
  background-color: white
  border: 4em white solid
  border-bottom: 0
  -moz-box-shadow: 0 0 5px lightgray
  -webkit-box-shadow: 0 0 5px lightgray
  box-shadow: 0 0 5px lightgray

.widget
  width: 100%

.header
  flex: 10% 0 0
  color: gray
  font-weight: bold
  margin-bottom: 2em

.list
  flex: 80% 0 0

.footer
  flex: 10% 0 0
  height: 50px

.date
  flex: 50% 0 0

.day
  flex: 50% 0 0

.number
  font-size: 54px
  margin-right: 0.25em

.monthyear
  font-size: 18px

.item
  padding-top: 15px
  list-style-type: none
  padding-bottom: 15px
  display: flex

.completed
  cursor: text
  color: silver

.button
  position: absolute

.add
  background: $c-green
  position: relative
  top: 5px
  height: 5.5em
  width: 5.5em
  border-radius: 50%
  border: 0.5px solid lightgray
  outline: hidden
  -moz-box-shadow: 0 0 5px lightgray
  -webkit-box-shadow: 0 0 5px lightgray
  box-shadow: 0 0 5px lightgray
  cursor: pointer


.add:focus
  outline: none

.add:after
  content: "\002B"
  font-size: 40px
  color: #22c37b

.name
  display: flex
  flex: 80% 0 0
  justify-content: flex-start

.check
  display: flex
  flex: 20% 0 0
  justify-content: flex-end

.check .circle
  height: 25px
  width: 25px
  background-color: white
  cursor: pointer
  border-radius: 50%
  border: 4px solid lightgray
  position: relative

.check .circle:hover
  height: 25px
  width: 25px
  background-color: white
  cursor: pointer
  border: 4px solid $c-green

.check .circle:hover:after
  transform: rotate(45deg)
  border: solid black
  border-width: 0 3px 3px 0
  width: 6px
  height: 12px
  content: ''
  right: 5px
  top: 2px
  position: absolute

.checked
  flex: 20% 0 0
  justify-content: flex-end

.checked .circle
  height: 25px
  width: 25px
  background-color: white
  cursor: pointer
  border-radius: 50%
  border: 4px solid $c-green
  position: relative

.checked .circle:hover
  height: 25px
  width: 25px
  background-color: white
  cursor: pointer
  border: 4px solid lightgray

.checked .circle:hover:after
  position: absolute
  content: "\274c"
  font-size: 10px
  left: 3px
  top: 2px

.hidden
  display: none

.new
  flex: 90% 0 0
  width: 90%
  margin: 0 auto

.input
  flex: 80% 0 0
  justify-content: flex-start

input
  width: 100%

.actions
  flex: 20% 0 0
  justify-content: space-around

.save
  height: 25px
  width: 25px
  background-color: white
  cursor: pointer
  border-radius: 50%
  border: 4px solid $c-green
  position: relative

.cancel
  height: 25px
  width: 25px
  background-color: white
  cursor: pointer
  border-radius: 50%
  border: 4px solid red
  position: relative

.save:focus,
.cancel:focus
  outline: none
