body
  background: #F0EFEA
  font-family: 'Poppins', sans-serif

.position
  position: absolute
  margin: auto
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 28%
  min-width: 500px
  height: 80%
  background-color: white
  border: 4em white solid

.widget
  height: 100%
  width: 100%

.header
  height: 10%
  color: gray

.list
  height: 80%

.footer
  height: 10%

.date
  flex: 50% 0 0

.day
  flex: 50% 0 0

.number
  font-size: 54px
  margin-right: 0.25em

.monthyear
  font-size: 18px
